VITE_FIREBASE_API_KEY=AIzaSyCz4j7nZVeIyWkO-_9hsmAqf_3ipRAeUQQ
VITE_FIREBASE_AUTH_DOMAIN=scoreboard-8e11e.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=scoreboard-8e11e
VITE_FIREBASE_STORAGE_BUCKET=scoreboard-8e11e.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=34948330691
VITE_FIREBASE_APP_ID=1:34948330691:web:5fd753a3b2c5fd175f1e76
